<html>
	
	
	<body>
		
        
        
        <div tabindex="-1" class="modal fade" id="modal1" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel1" style="display: none;">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
			<h4 class="modal-title" id="myModalLabel1">Project Title</h4>
		  </div>
		  <div class="modal-body">
			 
			<img class="img-responsive" alt="" src="images/work-1.jpg">	
			
		  </div>
		 
		</div>
	  </div>
	</div>
        
        
        
	</body>
	
	
</html>